.navbar a {

    color: #f8f6c4;
    text-decoration: none;
    font-size: 4vw;
    font-weight: bold;
    padding: .1vw 7vw 1vw;
    font-family: 'EB Garamond', serif;
}


.navbar {
    background-image: url("3.jpg");
    min-height: 3px;
    background-position: center;
}


.navbar a:hover {
    color: lightyellow;
}


a:hover {
    color: #941f0a;

}



.logo {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;

}

.navlink {
    text-align: center;
    padding-bottom: 30px;
}

.curr {
    color: lightyellow;
}

a {
    color: #E8564B;
    text-decoration: none;
}

main {
    margin-top: 1px;
    padding-top: 1px;
    text-align: left;
    padding: 2vw, 3vw, 2vw;
}

.button {
    border: none;
    color: #E8564B;
    text-decoration: none;
    display: inline-block;
    padding: 15px 32px;
    font-size: 30px;
    margin: 4px 2px;
    font-weight: bold;
}

body {
    margin: 0;
    font-size: 1.5vw;
    background-color: white;
    font-family: 'Myriad Pro', serif;
    color: black;

}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0px;
    font-size: 28px;
    color: white;
}

.overlay-content {
    position: relative;
    top: 0%;
    text-align: center;
}

.overlay .closebtn {
    position: absolute;
    font-size: 40px;
    top: 4%;
    right: 10%;
}

h2 {
    font-family: 'EB Garamond', serif;
    width: 100%;
    font-size: 4vw;
    text-align: center;
    ;
}

h3 {
    font-size: 2vw;
    text-align: center;
}

.info {
    padding: 2vw 2vw 2vw;
}

input[type=text] {
    background-color: white;
    color: black;
    font-size: 1.5vw;
}

input[type=submit] {
    font-size: 1.5vw;
}

input[type=reset] {
    font-size: 1.5vw;
}

.contact {
    font-size: 1.5vw;
}

.img4 {
    background-image: url("4.jpg");
    min-height: 360px;
    background-position: center;
    color: white;
}

.img1 {
    background-image: url("1.png");
    min-height: 360px;
    background-position: center;
    color: white;
}

.img2 {
    background-image: url("2.png");
    min-height: 360px;
    background-position: center;
    color: white;
}

.desc {
    text-align: left;
    font-size: 60%;
}

.bigger {
    font-size: 120%;
}

.facts {

    background-color: #f8f6c4;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 2;
}

.contacts {

    background-color: #f8f6c4;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;

}


.products {
    /*    background-color: #ff9d2c;
    */
    background-color: #f8f6c4;
    padding-top: 10px;
    padding-bottom: .5px;
    padding-left: 30px;
    padding-right: 20px;
    text-align: center;
}

.bullets {
    background-color: #f8f6c4;
    padding-bottom: .5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: .5px;
    line-height: 2;
}

.checkout {
    background-color: #f8f6c4;
    padding-bottom: .5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: .5px;
}

th,
td {
    padding-left: 10px;
    padding-right: 10px;
}
