.navbar a {
    padding: 14px 20px 2px;
    color: darkorange;
    text-decoration: none;
    font-size: 4vw;
    font-weight: bold;
    padding: .1vw 3vw 1vw;

}

.navbar {
    background-image: url("3.jpg");
    min-height: 380px;
    background-position: center;
}

.navbar a:hover {
    background: #f1f1f1f1;
    color: yellow;
}

a:hover {
    color: white;
}

.logo {
    width: 125px;
}

.curr {
    color: yellow;
}

a {
    color: orangered;
}

.mainImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

main {
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: darkblue;
    text-decoration: none;
    display: inline-block;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
}

body {
    margin: 0;
    font-size: 2vw;
    background-color: #3b3b3b;
    font-family: 'Myriad Pro', serif;
    color: darkorange;

}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    overflow-x: hidden;
    transition: 0.5s;
    padding: 2px;
    font-size: 28px;
    color: white;
}

.overlay-content {
    position: relative;
    top: 0%;
    text-align: center;
}

.overlay .closebtn {
    position: absolute;
    font-size: 40px;
    top: 15px;
    right: 35px;
}

h2 {
    font-family: 'EB Garamond', serif;
    width: 90%;
    border-bottom-style: solid;
    border-color: red;
    ;
}

.facts {
    padding: 1vw 4vw 1vw;
}

input[type=text] {
    background-color: gray;
    color: red;
}
